<!DOCTYPE html>
<html>
  <head>
    <title>Delete Tourist from the database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddUser" name="delflightflight" method="post" action="/delflight">
      <input id="FlightID" type="text" placeholder="FlightID" name="FlightID" />
      <button id="btnSubmit" type="submit">Delete</button>
    </form>
  </body>
</html>